body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.87);
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  
  .navigation .logo {
    padding-left: 48px;
    padding-top: 24px;
  }
  
  .navigation img {
    height: 48px;
  }
  
  .navigation a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 48px;
    margin-top: 24px;
  }
  
  .navigation .right-link {
    margin-left: auto;
    background: var(--netflix-red);
    color: var(--tint-white);
    padding: 8px 16px 8px;
    border-radius: 6px;
    font-family: 'netflix-font', var(--main-font);
    font-size: 1rem;
    cursor: pointer;
  }
  
  .navigation .right-link:hover {
    transition: 0.2s;
    background-color: rgba(170, 17, 25, 0.87);
  }
  
  .backgroundImg {
    background-image: url('http://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg'); 
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    opacity: 0.87;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: -2;
  }
  